html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #A8C0FF;
    background: #F6F6F6;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

#sbody {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    background: #F6F6F6;
    display: flex;
    flex-flow: column nowrap;
    padding-block: 25px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 100px;
}

h1 {
    margin: 0px;
    align-self: flex-start;
}

h2 {
    font-size: medium;
    margin: 0px;
    text-transform: uppercase;
    align-self: flex-start;
}

h3, label {
    margin: 0px;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
}

p {
    margin: 0px;
    font-size: medium;
}

form {
    padding-block: 10px;
    width: 100%;
    max-width: 300px;
    height: min-content;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

form div {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

a {
    color: #5F7CE4;
}

#password_fields a {
    font-size: smaller;

}

a:visited {
    color:#925FE4;

}

#checkbox_label {
    font-weight: normal;
    font-size: smaller;
    text-transform: none;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

#form_buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
}

button {
    font-size: medium;
    padding-inline: 30px;
    padding-block: 15px;
    width: max-content;
    border: 0px;
    border-radius: 3px;
    background: #A8C0FF;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: background-color 0.5s;
    transition: opacity 0.5s;
    cursor: pointer;
}

button:disabled {
    opacity: 30%;
}

input {
    color: #D1D1D1;
    max-width: 300px;
    background: white;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    padding: 10px;
}

input[type="email"]:focus, 
input[type="password"]:focus {
    color: #A8C0FF;
    outline: 1px solid #A8C0FF;
}


#password_fields {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

svg {
    padding: 3px;
}

#coupons_head {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#coupons_head button {
    padding: 5px 10px;
}